@font-face {
    font-family: Urbanista;
    src: url("../fonts/Shadows_Into_Light/fonts/Urbanist/static/Urbanist-Regular.ttf");
}

@font-face {
    font-family: UrbanistaBold;
    src: url("../fonts/Shadows_Into_Light/fonts/Urbanist/static/Urbanist-Bold.ttf");
}

body {
    /* margin: 3%; */
    font-family: Urbanista;
    margin: 0px;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

#wrapper {
    display: grid;
    grid-template-columns: 80px 2fr 10px 1fr;
    height: 100vh;
    grid-template-rows: 40px 1fr 1fr 1fr;
    gap: 40px;
    overflow: auto;
}

header {
    width: 94%;
    position: sticky;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    top: 0;
    position: sticky;
}

header>* {
    cursor: pointer;
}

header>#home>h1 {
    font-size: 40px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    color: #F7C488;
    text-shadow: 3px 2px 0px black;
}

#leftSideHeader {
    width: 22%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-weight: bold;
}

input {
    height: 30px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 320px;
    padding-left: 10px;
    font-style: italic;
}


nav {
    width: 70px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 1px solid black;
    justify-content: center;
    position: absolute;
    top: 75px;
    margin-left: 10px;
}


footer {
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

.stroke {
    height: 40px;
    width: 1px;
    background-color: black;
}

nav>div>div>#cover {
    height: 280px;
    width: 240px;
    background-size: contain;
    grid-row: 1/4;
    margin: 10px;
}

#description {
    grid-column: 2;
}

#likes {
    grid-column: 2;
}

#navi {
    grid-column: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#cards {
    grid-row: 2;
    grid-column: 2;
    width: 240px;
    height: 300px;
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 35px;
    margin-left: 95px;
}

#BigstrokeCommunity {
    grid-column: 3;
    height: 92%;
    width: 0px;
    border: 1px solid black;
    grid-row: 1/5;
    align-self: end;
}

#top {
    display: flex;
    justify-content: space-between;
}

#cards>div {
    border: 1px solid black;
    padding: 8px;
    height: 340px
}

#cards>div>#pic {
    height: 220px;
    width: 200px;
    background-size: contain;
    margin: 10px;
}

#comunityBox {
    grid-column: 2;
    grid-row: 1/5;
    overflow: scroll;
}

#comunityBox>h2 {
    font-size: 60px;
    margin: 0px;
}

#comunityBox #filterComments {
    margin-right: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

#comunityBox #filterComments img {
    height: 0.9vw;
}

#comunityBox #filterComments p {
    margin-right: 6px;
}

#commentBox {
    margin-top: 50px;
}

#box {
    padding: 10px;
    background-color: #72A080;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    height: 29vw;
    width: 45.5vw;
    border: 1px solid black;
}

.backgroundComment {
    width: 49vw;
    height: 31.9vw;
    background-color: black;
    clip-path: polygon(0% 0%, 96% 0%, 100% 5%, 100% 100%, 0% 100%, 8% 100%, 0% 95.3%, 0% 20%);
    margin-right: 25px;
    margin-bottom: 60px;
}

#box #Bigstroke {
    width: 95%;
    height: 0px;
    border: 1px solid black;
    grid-column: 1/6;
    justify-self: center;
}

#box img {
    height: 2.8vw;
    width: 2.8vw;
    left: 81px;
    bottom: -16px;
}

#box #comments #icon {
    height: 3vw;
    position: absolute;
    left: 83px;
    bottom: -16px;
}

#box>h2 {
    grid-row: 3;
    grid-column: 1/6;
    margin: 5px 0px 5px 16px;
    font-size: 20px;
}

#box>p {
    grid-column: 1/6;
    grid-row: 4;
    margin: 10px 10px 5px 16px;
}

#date {
    grid-column: 5;
    align-self: center;
    margin-right: 15px;
    width: 10vw;
    text-align: end;
    font-style: italic;

}

#x {
    position: relative;
    /* bottom: 320px; */
    left: 650px;
    color: white;
    width: 13px;
    top: 50px;
}

#dateDate {
    margin-right: 15px;
    width: 95%;
    text-align: end;
    font-style: italic;
    position: absolute;
    top: 15px;
    right: 5px;
}

#wrapper>#backgroundButton {

    grid-column: 4;
    grid-row: 2;
    justify-self: center;
    width: 21vw;
    height: 3.7vw;
    background-color: black;
    clip-path: polygon(0% 0%, 95% 0%, 100% 20%, 100% 100%, 0% 100%, 8% 100%, 0% 82%, 0% 20%);
    margin-right: 25px;
}

#wrapper>#backgroundButton>button {
    margin-right: 25px;
    height: 3vw;
    width: 20vw;
    background-color: #8EC6C1;
    border: 1px solid black;
}

#tipsbox {
    grid-column: 4;
    grid-row: 3;
    justify-self: center;
    position: relative;
}

#bigBox {
    border: 1px solid black;
    padding: 20px;
    margin-right: 25px;
    position: relative;
    height: 19vw;
    width: 18vw;
    text-align: center;
    background-color: black;
    color: white;

}

/* #bigBox {
    width: 300px; /* Adjust the width as needed 
    overflow: hidden;
} */

#tips {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
}

#tips p,
#tips h3 {
    margin: 20px;
}

#tips #date {
    margin: 0px 10px 10px 10px;
    text-align: center;
    font-size: 12px;
    font-style: normal;
}

#leftArrow,
#rightArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}

#leftArrow {
    right: 340px;
}

#rightArrow {
    right: 0;
}

#dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#SmallStroke {
    width: 70%;
    border: 1px solid white;
    height: 0px;
    margin-left: 15%;
    margin-right: 15%;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

@keyframes changeTip {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }
}


#calender {
    grid-column: 4;
    grid-row: 4;
    border: 1px solid black;
    margin-right: 25px;
    margin-top: 50px;
    /* position: relative; */
    width: 20.5vw;
    justify-self: center;
    background-color: black;
    color: white;
}

#calender>h2 {
    text-align: center;
}

#month {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#days {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    margin: 25px 10px 10px 10px;
}

#dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin: 20px 10px;
}

.arrow {
    margin: 0px 20px;
}

#dates>div {
    justify-self: center;
    margin: 5px;
}

.number {
    margin: 15px 0px;
}

#stroke {
    border: 1px solid black;
    /* margin-top: 10px; */
    grid-column: 1/6;
    width: 95%;
    margin-left: 2.5%;
}

#userAndProfile {
    display: flex;
    align-items: center;
    margin: 0px 18px;
}

#profilePic {
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 30px;
    margin-right: 10px;
}

#count {
    margin-left: 22px;
}

#comments {
    display: flex;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    position: relative;
    margin-left: 16px;
}

#divForComments {
    padding-top: 10px;
}

.hidden {
    display: none;
}

#BackgroundColor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
}

#backgroundNewPost {
    width: auto;
    background-color: black;
    /* text-align: center; */
    display: flex;
    position: fixed;
    left: 25%;
    right: 25%;
    top: 15%;
    bottom: 25%;
    flex-direction: column;
    clip-path: polygon(0% 0%, 94% 0%, 100% 8%, 100% 100%, 0% 100%, 8% 100%, 0% 94.5%, 0% 20%);

}

#bigBoxCommunity button {
    margin-left: 40%;
    height: 3vw;
    padding: 10px;
}

#bigBoxCommunity {
    height: 31vw;
    width: 47vw;
    background-color: #F7C488;
    position: relative;
}

#bigBoxCommunity input {
    width: 90%;
}

#bigBoxCommunity #userAndProfile {
    margin-top: 10px;
}

#bigBoxCommunity #userAndProfile img {
    border: none;
}

#titleBox {
    margin-top: 20px;
}

#title,
#description {
    /* height: 30px; */
    /* width: 400px;
    border-radius: 10px;
    border: 1px solid black; */
    /* margin-right: 0px;
    padding-left: 10px;
    font-style: italic; */
    border: none;
    background-color: transparent;
}

#description {
    height: 200px;
}

form {
    margin-left: 20px;
}

#divForComments>.backgroundForComment {
    margin-top: 30px;
    width: 49vw;
    background-color: black;
    height: 11.3vw;
    clip-path: polygon(0% 0%, 96% 0%, 100% 20%, 100% 100%, 0% 100%, 8% 100%, 0% 84%, 0% 20%);
    margin-bottom: 50px;
}

#divForComments>.backgroundForComment>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 1px 1fr;
    /* margin-top: 20px; */
    background-color: #F7C488;
    /* border-radius: 10px; */
    padding: 5px 10px 10px 10px;
    width: 45.5vw;
    height: 8.4vw;
    border: 1px solid black;

}

#divForComments>.backgroundForComment>div#stroke {
    height: 0px;
    width: 95%;
    grid-column: 1/6;
    margin-top: 0px;
    justify-self: center;
}

#divForComments>.backgroundForComment>div>p {
    grid-row: 3;
    margin-left: 18px;
}

#profilePic {
    height: 30px;
    width: 30px;
}

#addComment {
    height: 30px;
    margin-top: 20px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    margin-left: 0px;
    /* color: white; */
    width: 47.7vw;
}

#addComment>form {
    margin-left: 0px;
    align-self: end;

}

#comment {
    border: none;
    height: 100%;
    width: 90%;
    margin: 0px;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

#submitIcon {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 1px solid black;
    margin-left: 10px;
    /* margin-top: 55px; */
}




.hidden {
    display: none;
}

.popUpCalender {
    width: 20vw;
    height: auto;
    position: absolute;
    right: 70px;
    background-color: gray;
    bottom: 150px;
    z-index: 1;
    padding: 10px;
}

.popUpCalender>#close {
    text-align: end;
    padding-right: 10px;
}