body {
    /* margin: 3%; */
    font-family: Urbanista;
    margin: 0px;
}

main {
    width: 100%;
}


#wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr auto 1fr;
    height: 90vh;
    grid-template-rows: 40px 1fr;
    overflow: visible;
}

#copyrightBox h2 {
    font-size: 60px;
    margin-left: 80px;
}

input {
    height: 30px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 320px;
    padding-left: 10px;
    font-style: italic;
}

#copyrightBox {
    display: flex;
    width: 600px;
    flex-direction: column;
    margin-left: 80px;
}


#bigbox {
    margin-left: 80px;
}

#BigStroke {
    height: 90%;
    border: 1px solid black;
    width: 0px;
    grid-column: 2;
    grid-row: 2/3;
    margin: 15px 20px;
}