

body {
    margin: 10px;
    font-family: Urbanista;
}



main {
    width: 100%;
    display: flex;
}

#wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 80px 2fr;
    height: 100vh;
    grid-template-rows: 40px 1fr;
}


input {
    height: 30px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 320px;
    padding-left: 10px;
    font-style: italic;
}

#copyrightBox {
    display: flex;
    width: 600px;
    flex-direction: column;
    margin-left: 40px;
}


#bigbox {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#stroke {
    height: 0px;
    border: 1px solid black;
    grid-column: 1/3;
    margin: 30px 30px 30px 0px;
}