/* Static content */
@font-face {
    font-family: Urbanista;
    src: url("../fonts/Shadows_Into_Light/fonts/Urbanist/static/Urbanist-Regular.ttf");
}

@font-face {
    font-family: UrbanistaBold;
    src: url("../fonts/Shadows_Into_Light/fonts/Urbanist/static/Urbanist-Bold.ttf");
}

body {
    font-family: Urbanista;
    margin: 0px;
    position: relative;
}

header {
    background: linear-gradient(to bottom, #f7c488, rgba(247, 196, 136, 0));
    z-index: 1;
}

#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

#welcome {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    grid-column: 2/4;
    margin-bottom: 5%;
    margin-top: 2%;

}

#welcome #text {
    margin-left: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 500px;
}

#welcome h1 {
    font-family: UrbanistaBold;
    font-size: 60px;
    /* font-weight: bold; */
    margin: 0px;
}

#welcome h2 {
    font-size: 50px;
    margin: 0px;
}

#welcome img {
    height: 25vw;
    margin-right: 10vw;
}

.hiddenSearch {
    width: auto;
    visibility: hidden;
    transition: visibility 0.5s;
}

.hidden {
    opacity: 0;
}

.hiddenFilters {
    display: none;
}

img {
    cursor: pointer;
}

.stroke {
    height: 40px;
    width: 1px;
    background-color: black;
}

nav>div>div>#cover {
    height: 280px;
    width: 240px;
    background-size: contain;
    grid-row: 1/4;
    margin: 10px;
}

#description {
    grid-column: 2;
}

#likes {
    grid-column: 2;
}

#navi {
    grid-column: 2;
    display: inherit;
    justify-content: space-around;
    align-items: center;
    grid-row: 2;
    margin-top: 50px;
}

#navi .stroke {
    height: 1px;
    width: 100%;
    background-color: black;
}

/* FILTERS */

#filterLeft {
    width: 350px;
    height: 100%;
    padding: 4px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: inline-flex;
}

#filterRight {
    width: 270px;
    height: 100%;
    padding: 4px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 12px;
    display: inline-flex;
    bottom: 20px;
    position: relative;
    left: 600px;
}

#cards {
    grid-row: 3;
    grid-column: 2;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 40px;
    height: auto;
    /* overflow: scroll; */
    padding-left: 30px;
    box-sizing: border-box;
    margin-top: 80px;
    padding-top: 40px;
}

.cardBox {
    height: 28vw;
    width: 21vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 4px;
    transition: transform 0.5s;
    background-color: black;
    clip-path: polygon(0% 0%, 90% 0%, 100% 8%, 100% 100%, 0% 100%, 7% 100%, 0% 95%, 0% 20%);
}

.hoverEffect {
    transform: scale(1.1);
}

#cardBox>h2 {
    margin-bottom: 0px;
    position: relative;
    right: 100px;
}

.imgDiv {
    height: 95%;
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    border: 1px solid black;
}



#cardBox #userImg {
    height: 25px;
    width: 20px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    right: 125px;
    top: 20px;
}

#cardBox #userName {
    position: relative;
    right: 85px;
}

#likesBox {
    position: relative;
    left: 100px;
}

#likeImg {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 20px;
}

#likeImg>div {
    position: relative;
    left: 30px;
}

.dropDown {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    left: 90px;
    background-color: white;
    width: 400px;
    z-index: 1;
}


.description {
    height: 50%;
    width: 90%;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 182px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    transition: height 1.5s;
    left: 0;
}

.description #title {
    padding-left: 10px;
}

#desc {
    align-self: flex-start;
    padding-left: 10px;
}

.tags {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 2px 4px 2px 4px;
    margin: 5px;
    width: auto;
    background-color: #F6B8D3;
    font-size: 12px;
}


#delete {
    height: 1.5vw;
    width: 1.5vw;

    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px;
}

#puplished {
    align-self: start;
    margin-left: 10px;
    position: relative;
    bottom: 10px;
    font-size: 10px;
}

#userinfo {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
    top: 0px;
}

#userinfo>div {
    font-size: 15px;
    padding-left: 8px;
}

#usernameAuthor {
    font-size: 15px;
    padding-left: 8px;
}

#userinfo>img {
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 90px;
    background-color: white;
    border: 1px solid black;
}

.readBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #808080b2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.comic {
    height: 80%;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

}

.readBox>#close {
    position: absolute;
    top: 20px;
    right: 30px;

}

#left {
    display: flex;
    justify-content: end;
    /* align-items: end; */
    flex-direction: column;
}

#left>div {
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    background-color: gray;
    border-radius: 10px;
    width: 100px;
}

/* FILTER MENU */

#filters {
    position: relative;
    top: 60px;
    z-index: 1;
    width: 100%;
}

#contentFilter {
    width: 80vw;
    display: flex;
    gap: 30%;
}

#rightHandSide {
    max-width: 50px;
    display: grid;
    grid-template-columns: 4, 1fr;
    grid-template-rows: 2, 1fr;

    row-gap: 10px;
    gap: 10%;
    font-size: 18px;
    ;
}

#filter {
    grid-column: 1;
    grid-row: 2;
    cursor: pointer;
    align-self: center;
    justify-self: end;
}

#search {
    cursor: pointer;
    margin-left: auto;
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
    align-self: center;
}

.search-field {
    grid-column: 1 / 3;
    grid-row: 1;
}

input {
    width: 220px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #f7c488;
    font-style: italic;
    font-family: Urbanista;
}

input:focus {
    outline: none;
}

#sortComicContainer {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-self: end;
    cursor: pointer;
    position: relative;
}

.filterContainerSort {
    position: absolute;
    width: 100%;
    top: 40px;
    left: 10px;
    background-color: #f7c488;
    padding: 4px;
}

.filterContainerSort > * {
    padding: 4px;
}

.filterContainerSort > *:hover{
    color: white;
}

#sortComics {
    width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sortComicContainer>img {
    height: 23px;
    width: 23px;
}

#rightBottom {
    grid-row: 2;
    grid-column: 1/3;
    display: flex;
    gap: 10%;
}

.strokeFilters {
    align-self: center;
    height: 3px;
    background-color: black;
    width: 103%;
    position: absolute;
    top: 33px;

}

#themes {
    width: 50%;
    grid-auto-rows: 1/2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 5%;
    height: 8%;
    margin-left: 2%;
}

#themes>* {
    cursor: pointer;
    font-size: 25px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 2%;
}


/* Filter pop-up*/

.containerFilterBig {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    transition: transform 0.7s ease-in-out;
    /* transform: scaleX(0); */
    transform-origin: top right;
    height: 100vh;
    width: 30vw;
    background-color: #72A080;
    border: 2px solid black;
    overflow: hidden;

}

#containerFilterBigTop {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#containerFilterBigTop>p {
    padding: 0px;
}

#containerFilterBigTop>img {
    padding: 3%;
    height: 20px;
    width: 20px;
}

.containerFilter.open {
    transform: scaleX(1);
}

#allFilters {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.filterContainer {
  background-color: #72A080;
  padding: 10px 10px 10px 10px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.filterContainer > *:hover {
    color: white;
}

.filterContainerComics {
    background-color: #72A080;
    padding: 10px 10px 10px 10px;
    padding: 0px;
    position: absolute;
}

/* .filterContainer>div:hover,
.filterContainerComics>div:hover {
    color: white;
} */

.selected {
    color: white;
    border-bottom: 1px solid transparent;
    border-image-source: linear-gradient(90deg,white, transparent);
    border-image-slice: 1;
    border-image-width: 0 0 1px 0px; /* Adjust the thickness as needed */
    transition: border-image-width 0.3s ease;
}

.selected > * {
    color: black;
}

.material {
    width: 180px;
}

#materialContainer {
    width: 70%;
    margin-left: 2%;
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5%; */
}

#formatContainer,
#styleContainer {
    width: 70%;
    margin-left: 4%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5%;
}

#formatContainer,
#styleContainer,
#materialContainer>* {
    cursor: pointer;
}

#formatContainer>*:hover,
#styleContainer>*:hover {
    color: white;
}

.removeFilter {
    opacity: 0;
}