/* Static content */
@font-face {
    font-family: Urbanista;
    src: url("../fonts/Shadows_Into_Light/fonts/Urbanist/static/Urbanist-Regular.ttf");
}

@font-face {
    font-family: UrbanistaBold;
    src: url("../fonts/Shadows_Into_Light/fonts/Urbanist/static/Urbanist-Bold.ttf");
}

body {
     margin: 3%; 
    font-family: Urbanista;
    margin: 0px;
    position: relative;
}

header {
    width: 90%;
     position: sticky;
    /* flex-basis: 50px; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 4%; 
    margin-right: 4%;
    align-items: center;
    top:0;
    position: sticky;
}

header > #home > h1{
    font-size: 40px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    color: #F7C488;
    text-shadow: 3px 2px 0px black;
}

#leftSideHeader{
    width: 30%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-weight: bold;
}


main {
    width: 100%;
    display: flex;
}

nav {
    width: 10%;
    display: flex;
    flex-direction: column;
   /*height: 100vh; */
    border-right: 1px solid black;
    justify-content: center;
    position: absolute;
    /*position: sticky; */
    top: 75px;
    margin-left: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 60px;
    background-color: gray;
    align-items: center;
    margin-top: 40px;
}


#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

#welcome {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    grid-column: 2/4;
    margin-bottom: 5%;
    margin-top: 2%;

}

#welcome #text {
    margin-left: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 500px;
}

#welcome h1 {
    font-family: UrbanistaBold;
    font-size: 60px;
    /* font-weight: bold; */
    margin: 0px;
}

#welcome h2 {
    font-size: 50px;
    margin: 0px;
}

#welcome img {
    height: 25vw;
    margin-right: 10vw;
}

input {
    height: 30px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 320px;
    padding-left: 10px;
    font-style: italic;
}



.stroke {
    height: 40px;
    width: 1px;
    background-color: black;
}

nav>div>div>#cover {
    height: 280px;
    width: 240px;
    background-size: contain;
    grid-row: 1/4;
    margin: 10px;
}

#description {
    grid-column: 2;
}

#likes {
    grid-column: 2;
}

#navi {
    grid-column: 2;
    display: inherit;
    justify-content: space-around;
    align-items: center;
    grid-row: 2;
    margin-top: 50px;
}

#navi .stroke {
    height: 1px;
    width: 100%;
    background-color: black;
}

#filterLeft {
    width: 350px;
    height: 100%;
    padding: 4px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
    display: inline-flex;
}

#filterRight {
    width: 270px;
    height: 100%;
    padding: 4px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 12px;
    display: inline-flex;
    bottom: 20px;
    position: relative;
    left: 600px;
}

.filterContainer {
    position: absolute;
    background-color: gray;
    padding: 10px 0px 10px 10px;
}

.filterContainer>div:hover {
    background-color: rgb(236, 104, 80);
    color: white;
}

.selected {
    color: white;
    border-bottom: 1px solid white;
}




#cards {
    grid-row: 3;
    grid-column: 2;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 40px;
    height: auto;
    /* overflow: scroll; */
    padding-left: 30px;
    box-sizing: border-box;
    /* margin-top: 80px; */
    padding-top: 40px;
}

.cardBox {
    height: 28vw;
    width: 21vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 4px;
    transition: transform 0.5s;
    background-color: black;
    clip-path: polygon(0% 0%, 90% 0%, 100% 8%, 100% 100%, 0% 100%, 7% 100%, 0% 95%, 0% 20%);
}

.hoverEffect {
    transform: scale(1.1);
}

#cardBox>h2 {
    margin-bottom: 0px;
    position: relative;
    right: 100px;
}

.imgDiv {
    height: 95%;
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
}



#cardBox #userImg {
    height: 25px;
    width: 20px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    right: 125px;
    top: 20px;
}

#cardBox #userName {
    position: relative;
    right: 85px;
}

#likesBox {
    position: relative;
    left: 100px;
}

#likeImg {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 20px;
}

#likeImg>div {
    position: relative;
    left: 30px;
}

.dropDown {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    left: 90px;
    background-color: white;
    width: 400px;
    z-index: 1;
}


.hidden {
    display: none;
}

.filter {
    background-color: gray;
}


.description {
    height: 50%;
    width: 90%;
    background-color: #dfdfdfde;
    position: absolute;
    top: 182px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    transition: height 1.5s;
    left: 0;
}

.description #title {
    padding-left: 10px;
}

#desc {
    align-self: flex-start;
    padding-left: 10px;
}

.tags {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 2px 4px 2px 4px;
    margin: 5px;
    width: auto;
    background-color: #F6B8D3;
    font-size: 12px;
}


#delete {
    height: 1.5vw;
    width: 1.5vw;

    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px;
}

#puplished {
    align-self: start;
    margin-left: 10px;
    position: relative;
    bottom: 10px;
    font-size: 10px;
}

#userinfo {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
    top: 0px;
}

#userinfo>div {
    font-size: 15px;
    padding-left: 8px;
}

#userinfo>img {
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 90px;
    background-color: white;
    border: 1px solid black;
}

.readBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #808080b2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comic {
    height: 80%;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

}

.readBox>#close {
    position: absolute;
    top: 20px;
    right: 30px;

}

#left {
    display: flex;
    justify-content: end;
    /* align-items: end; */
    flex-direction: column;
}

#left>div {
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    background-color: gray;
    border-radius: 10px;
    width: 100px;
}

/* FILTER MENU */

#filters {
    grid-template-columns: 1fr, 2fr, 1fr;
    grid-template-rows: 2fr, 1fr, 2fr;
    padding-left: 5px;
    width: 100vh;
    justify-content: space-between;
}

#rightHandSide{
    width: 13%;
    display: grid;
    column-gap: 10px;
    row-gap:  10px;
}

#rightBottom{
    grid-row: 3;
    grid-column: 3;
    display: flex;
    gap: 10%;
}

.strokeFilters{
  align-self: center;
  height: 3px;
  background-color: black;
  grid-row: 2;
  grid-column: 1/4;
  width: 95vw;

}

#themes {
    width: 50%;
    grid-auto-rows: 1/2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 150%;
    column-gap: 5%;
    height: 7%;
    margin-left: 2%;
}

#themes > * {
    font-weight: bold;
    text-align: center;
    padding: 2%;
}


/* Filter pop-up*/

.containerFilter{
    transition: transform 0.7s ease-in-out;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    transform: scaleX(0); 
    transform-origin: top right;
    height: 100vh;
    background-color: #72A080;
    border: 2px solid black;
    overflow: hidden; 
}

.containerFilter.open{
    transform: scaleX(1); 
}

#allFilters{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

#formatContainer, #styleContainer, #materialContainer{
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15%;
}

.removeFilter{
    opacity: 0;
}


