/*Static content */

@font-face {
    font-family: Urbanista;
    src: url("../fonts/Shadows_Into_Light/fonts/Urbanist/static/Urbanist-Regular.ttf");
}

body {
    margin: 0px;
    font-family: Urbanista;
    background-image: url("../images/bkg/profile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



input {
    height: 30px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 320px;
    padding-left: 10px;
    font-style: italic;
}

/* So that footer is always at the mottom of the page*/

main{
    min-height: 74vh;
}


/* Top of profile */

#topProfile {
    display: flex;
    justify-content: space-between;
    padding: 3%;
    margin-left: 3vw;
}

/*   Profile Info */

#userContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 80%;
}

/* Other users tags */

#usedTags {
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
}

#usedTags .tags {
    width: auto;
}

#backgroundFollowing {
    width: 8vw;
    height: 3.2vw;
    /* margin-top: 6vw; */
    background-color: black;
    clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 0% 100%, 10% 100%, 0% 92%, 0% 20%);
    margin-left: 74%;
}

#followButton {
    width: 7.3vw;
    height: 2.9vw;
    font-size: 20px;
}

#topRightProfile h3 {
    text-align: center;
    margin: 40px;
}

/* #profileHeaderContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 4vw;
} */

#username {
    font-size: 90px;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: black;
    color: #F7C488;
    text-shadow: 3px 3px 0px black;
}

#follows>#icon {
    background-image: url(/images/follow.png);
}


#userContainerTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

#userContainerTop>img {
    height: 3vw;
    width: 3vw;
}


#name {
    margin: 0px 0px 3px 5px;
}

#follows {
    width: 160px;
    display: flex;
}

#followIcon {
    height: 2vw;
    width: 2.5vw;
}

#follows #followers {
    padding: 5px;
}

#settings {
    /* margin-left: 18vw; */
    height: 2vw;
}

#popUp h2 {
    margin-left: 35px;
}

#strokeSetting {
    padding: 0px 10px;
    position: relative;
    bottom: 60px;
    text-align: end;
    right: 10px;
}

#popUp #noti p {
    margin: 0px;
}

#popUpWindow #save {
    height: 3vw;
    width: 14vw;
    margin: 0px;
    background-color: #8EC6C1;
    color: black;
    font-size: 20px;
}

#backgroundButton {
    height: 3.3vw;
    width: 14.8vw;
    background-color: black;
    clip-path: polygon(0% 0%, 94% 0%, 100% 10%, 100% 100%, 0% 100%, 10% 100%, 0% 92%, 0% 20%);
    /* margin: 10px; */
    position: fixed;
    left: 43%;
    /* margin-bottom: 60px; */
    bottom: 70px;
}

#nedreDel button {
    width: 15vw;
    height: 3vw;
    margin-right: 126px;
    background-color: #B7323E;
    color: white;
    font-size: 16px;
}


#popUp #popUpWindow {
    display: flex;
    height: auto;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr); */
}

#popUpWindow .stroke {
    width: 90%;
    height: 2px;
    margin-left: 35px;
}

#popUpWindow .underline {
    background-color: black;
    /* transition: color 0.3s, background 0.3s, border 0.3s, text-shadow 0.3s; */
    z-index: 0;
    height: 1px;
    width: 60%;
    margin-bottom: 5px;
}


#popUpWindow form #noti {
    margin: 10px 70px;
}

#nedreDel {
    display: flex;
}

#nedreDel #general,
#nedreDel #password {
    width: 50%;
}

#buttonsSettings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    margin-right: 36px;
    position: relative;
    bottom: 95px;
    left: 25px;
}


#buttonsSettings>button {
    width: 15vw;
    height: 2.6vw;
    margin-right: 54px;
    background-color: #B7323E;
    color: white;
    font-size: 16px;
    font-weight: lighter;
}

#nedreDel #password {
    margin-left: 70px;
    width: 45%;
}

#popUpWindow #nedreDel input {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    margin-left: 10px;
    height: 38px;
}

#popUpWindow #nedreDel label,
.underline {
    margin-left: 20px;
}

#editPng {
    height: 2vw;
}

#settingsAndEdit {
    width: 8vw;
    justify-content: flex-end;
    display: flex;
    margin-left: 30vw;
}

#profileHeader {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#profileHeaderContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-left: -8%; */
}



#profileIcon {
    /* height: 100px;
    width: 100px;
    border-radius: 50px; */
    height: 200px;
    width: 200px;
    border-radius: 50px;
    left: 41vw;
    position: absolute;
    top: 3vw;

}

#profileIcon>img {
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

#description {
    width: 60%;
    text-align: end;
    margin: 3% 0% 10% 40%;
}

#desc {
    align-self: flex-start;
    padding-left: 10px;
    margin-top: 5px;
}

#instagram {
    width: 120px;
    display: flex;
    margin-left: 4.5vw;
}

#instagram>img {
    width: 1.5vw;
}

#instagram>div {
    margin-left: 5px;
}

/* Right side top*/

#topRightProfile {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 2%;
    gap: 6%;
    margin-right: 6vw;
}



.stroke {
    height: 40px;
    width: 1px;
    background-color: black;
}

#middleProfile {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    margin-left: 9%;
    /* width: 96%; */
}

.options {
    margin-right: 10%;
}

#bottomMiddleMenu {
    margin-left: 65vw;
}

#bottomMiddleMenu>#background {
    width: 9.5vw;
    height: 3.5vw;
    background-color: black;
    clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 0% 100%, 10% 100%, 0% 92%, 0% 20%);
    margin-top: 10px;
}

#bottomMiddleMenu>#background>#addNewComic {

    width: 8.9vw;
    height: 3.1vw;
    font-size: 20px;
}

#menuSearchFilter {
    display: flex;
    flex-direction: row;
    width: 11vw;
    justify-content: space-between;
    align-items: center;
}

#menuSearchFilter>img {
    /* height: 30%; */
    width: 10%;
}

.strokeFilter {
    height: 4vh;
    width: 1px;
    background-color: black;
}

#filterProfile {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#filterProfile>img {
    /* height: 30%; */
    width: 17%;
}

#bottomMiddleMenu>button {
    height: 2.9vw;
    width: 9vw;
    border: 1px solid black;
    font-size: 20px;
    font-family: Urbanista;
    background-color: #8EC6C1;
    box-shadow: 5px 5px 0px black;
}


/* menu, bottom */

.options {
    font-size: 18px;
    margin-bottom: 1%;
    margin-top: 1%;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 2%;
    color: #F7C488;
    -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
    transition: font-size 0.5s ease-in;

}

.arrow {
    height: 3vw;
    width: 3vw;
    position: absolute;
}

#arrowLeft {
    left: 120px;
    bottom: 320px;
}

#arrowRight {
    right: 62px;
    bottom: 320px;
}

.selected {
    font-size: 20px;
    color: black;
    transition: font-size 0.5s ease-in;
}

@keyframes Fade {
    0% {
        font-size: 15px;
    }

    50% {
        font-size: 18px;
    }
}

#BigStroke {
    border: 0.5px solid black;
    width: 90%;
}

#cards {
    margin-left: 9%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    display: grid;
    /* gap: 30px; */
    overflow: scroll;
    /* grid-template-rows: auto; */
    /* margin-top: 5vw; */
    padding-left: 2%;
    padding-bottom: 30px;

}

#cards .background {
    width: 21vw;
    height: 27vw;
    margin-top: 6vw;
    background-color: black;
    clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 0% 100%, 10% 100%, 0% 92%, 0% 20%);
}

.cardBox {
    height: 28vw;
    width: 21vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 4px;
    transition: transform 0.5s;
    background-color: black;
    clip-path: polygon(0% 0%, 90% 0%, 100% 8%, 100% 100%, 0% 100%, 7% 100%, 0% 95%, 0% 20%);
    margin-top: 5vw;
}

#cardBox>h2 {
    margin-bottom: 0px;
    position: relative;
    right: 100px;
}

#cardBox #img {
    height: 90%;
    width: 90%;
    background-image: url("/images/unnamed.png");
    background-size: contain;
}

#cardBox #userImg {
    height: 25px;
    width: 20px;
    /* border: 1px solid black; */
    border-radius: 20px;
    position: relative;
    right: 125px;
    top: 20px;
}

.imgDiv {
    height: 95%;
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
}

#cardBox #userName {
    position: relative;
    right: 85px;
    /* bottom: 8px; */
}

#likesBox {
    position: relative;
    left: 100px;
}

#likeImg {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 20px;
}

#likeImg>div {
    position: relative;
    left: 30px;
}

.selected {
    font-weight: bold;
}

.artistBox {

    height: 25vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    box-shadow: 0px 4px 4px;
    width: 19vw;
    background-color: #72A080;
    border: 1px solid black;
}

#artistIcon {
    height: 12vw;
    width: 12vw;
    grid-column: 1/3;
    border-radius: 80px;
    /* border: 1px solid black; */
    align-self: center;
    margin-left: 50px;
    margin-top: 10px;
}

.artistBox>h3 {
    grid-column: 1/4;
    text-align: center;
    margin-top: 10px;
}

#folowerBox {
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    margin: 10px;
}

#folowingBox {
    grid-column: 3;
    grid-row: 4;
    text-align: center;
    margin: 10px;
}

#uploadedComicsBox {
    grid-row: 4;
    text-align: center;
    margin: 10px;
}

.number {
    font-weight: bold;
    padding: 5px;
}


/* PopUp */

/* #popUp {
    position: absolute;
    height: 600px;
    width: 50%;
    z-index: 2;
    margin-left: 25%;
    margin-right: 25%;
    left: 0;
    right: 0;
    background-color: #F7C488;
    bottom: 80px;
    border-radius: 10px;
} */

#popUp {
    width: 60%;
    height: 600px;
    margin-left: 20%;
    margin-right: 20%;
    position: fixed;
    top: 5%;
    /* left: 25%; */
    /* z-index: 3; */
}


.hidden {
    display: none;
}

#popUpBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 40px 40px 1fr 40px;
    width: 100%;
    height: 110%;
    gap: 10px;
    justify-items: center;
    /* overflow: scroll; */
    z-index: 2;
    position: relative;
    background-color: #F7C488;
    border-radius: 10px;
    border: 1px solid black;
}

.info {
    height: auto;
}

#close {
    /* height: 100%; */
    /* grid-column: 3; */
    /* justify-self: end; */
    padding: 0px 10px;
    position: relative;
    bottom: -10px;
    text-align: end;
    left: 145%;
}

#popUpBox>h2 {
    grid-column: 1;
    grid-row: 1/4;
    width: auto;
    font-size: 40px;
    text-align: end;
}

#searchFollower {
    height: 30px;
    width: 400px;
    border-radius: 7px;
    border: 1px solid black;
    margin-right: 0px;
    font-style: italic;
}

#popUpBox>#background {
    grid-column: 2;
    grid-row: 5;
    align-self: center;
    margin-bottom: 30px;
    height: 3.5vw;
    width: 9vw;
    background-color: black;
    clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 0% 100%, 10% 100%, 0% 91%, 0% 20%);
    border: 1px solid black;
}


#popUpBox>#background>button {
    align-self: center;
    justify-self: center;
    margin-bottom: 30px;
    height: 3.3vw;
    /* padding: 5px 10px; */
    width: 8.2vw;
    font-size: 20px;
}

#popUpBox>#searchAndSort {
    display: flex;
    grid-column: 2/4;
    position: relative;
    width: auto;
    margin-left: 0px;
}

#popUpBox>#searchAndSort>p {
    align-self: center;
    margin-bottom: 20px;
}

#popUpBox>#searchAndSort>#stroke {
    height: 2.5vw;
    border: 1px solid black;
    width: 0px;
    margin: 0px 20px;
}

body {
    font-family: Urbanista;
}


#popUpBox>#searchAndSort>#search {
    position: absolute;
    height: 1.8vw;
    margin: 0px;
    top: 4px;
    left: 26.4vw;
}

#popUpBox>#searchAndSort>img {
    height: 1vw;
    text-align: center;
    margin: 13px 0px 20px;
}

#popUpBox>#followers {
    grid-column: 1/4;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    width: 95%;
    gap: 10px;
    overflow: scroll;
}

#popUpBox>#followers>.background {
    width: 14.3vw;
    height: 19vw;
    /* margin-top: 6vw; */
    background-color: black;
    clip-path: polygon(0% 0%, 90% 0%, 100% 10%, 100% 100%, 0% 100%, 10% 100%, 0% 91%, 0% 20%);
}

#popUpBox>#followers>.background>.artistBox {
    height: 17.2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    box-shadow: 0px 4px 4px;
    width: 12.7vw;
    background-color: #72A080;
}

#popUpBox>#followers>.background>.artistBox>#artistIcon {
    height: 9vw;
    width: 9vw;
    grid-column: 1/3;
    border-radius: 80px;
    margin-left: 30px;
}


#popUpBox>#followers>.background>.artistBox>#backgroundButton>button {
    height: 3vw;
    width: 7vw;
    border-radius: 0px;
    padding: 0px 5px;
    background-color: #B7323E;
}

#popUpBox>#followers>.background>.artistBox>#backgroundButton {
    width: 7.6vw;
    height: 3.5vw;
    background-color: black;
    clip-path: polygon(0% 0%, 92% 0%, 100% 10%, 100% 100%, 0% 100%, 10% 100%, 0% 87%, 0% 20%);
    position: relative;
    bottom: 10px;
    left: 33px;
}

.hoverEffect {
    transform: scale(1.1);
}


.description {
    height: 50%;
    width: 90%;
    background-color: #dfdfdfde;
    position: absolute;
    top: 182px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    transition: height 1.5s;
    left: 0;
}

.description #title {
    padding-left: 10px;
}

.description .filters {
    display: flex;
}

.tags {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 2px 4px 2px 4px;
    margin: 5px;
    width: auto;
    background-color: #F6B8D3;
    font-size: 12px;
}


#delete {
    height: 1.5vw;
    width: 1.5vw;

    position: absolute;
    right: 0px;
    top: 0px;
    margin: 10px;
}

#puplished {
    align-self: start;
    margin-left: 10px;
    position: relative;
    bottom: 10px;
    font-size: 10px;
}

#userinfo {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
    top: 0px;
}

#usernameAuthor {
    font-size: 15px;
    padding-left: 8px;
}

#userinfo>img {
    height: 1.5vw;
    width: 1.5vw;
    border-radius: 90px;
    background-color: white;
    border: 1px solid black;
}

#filters {
    align-self: start;
    width: 100%;
    display: flex;
    padding-left: 5px;
}


.readBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #808080b2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.readBox img {
    height: 2vw;
    position: absolute;
    bottom: 30px;
}

.readBox #leftArrow {
    left: 45%;
}

.readBox #rightArrow {
    right: 45%;
}

.comic {
    height: 85%;
    width: 30%;
    background-color: white;
    /* border-radius: 10px; */
    padding: 10px;
    box-shadow: black;
    border: 1px solid black;
    position: relative;
    bottom: 3%;
    margin: 0px 20px;

}

.readBox>#close {
    position: absolute;
    top: 20px;
    right: 30px;

}

.readBox>#close {
    position: absolute;
    top: 15px;
    left: 30px;

}


#left {
    display: flex;
    justify-content: end;
    /* align-items: end; */
    flex-direction: column;
}

#left>div {
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 85%;
    height: 250px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

#infoDiv #title {
    font-size: 25px;
}

#infoDiv #description {
    text-align: left;
    margin: 0px;
}

#infoDiv #authorInfo {
    display: flex
}

#infoDiv #authorInfo img {
    height: 2vw;
    position: unset;
}

#infoDiv #authorInfo div {
    margin-left: 10px;
    font-size: 16px;
    align-self: end;
}

#infoDiv #filter {
    align-self: start;
    display: flex;
}

#infoDiv #filter .tags {
    font-size: 12px;
    border-radius: 0px;
    padding: 4px 5px;
    margin-right: 10px;
    margin-left: 0px;
}




#popUp>form {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#popUp>form>div {
    display: flex;
    flex-direction: column;
}

#popUp>form>button {
    grid-column: 2;
    justify-self: center;
}

#popUp>form>div>input {
    width: auto;
    margin-right: 0px;
}

#popUp #noti {
    /* grid-column: 1; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

#popUp #noti div {
    /* grid-row: 2; */
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
}

#popUp #noti div div {
    align-content: center;
}

.general {
    grid-column: 2;
}

.password {
    grid-column: 3;
}


#popUp #noti div .moved {
    transition-duration: 1s;
    left: 0px;
}

#usernameLabel,
#emailLabel {
    margin: 10px 25px 25px 25px;
}

.knapp {
    width: 18px;
    height: 16px;
    left: 16.80px;
    top: 0px;
    position: absolute;
    background: #464545;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9999px;

    transition-property: left;
    transition-duration: 1s;
}

#comicFrontPage {
    height: 25vw;
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    display: flex;
}

#popUpWindow {
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: #F7C488;
    position: relative;
}

#popUpWindow h1 {
    width: 10vw;
}

#deleteReq {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    position: relative;
    z-index: 2;
    align-items: center;
    background-color: #F7C488;
}

#deleteReq #close {
    align-self: end;
}

#deleteReq h2 {
    align-self: center;
    margin-bottom: 30px;
    margin-top: 1px;
    font-size: 18px;
}

#deleteReq h3 {
    text-align: center;

}


.yesNo {
    align-self: center;
}

#DeleteOrKeep {
    display: flex;
    justify-content: center;
    align-items: end;
}

#no,
#yes {
    width: 15vw;
    height: 4vw;
    color: white;
    font-size: 20px;
}

#yes {
    background-color: #B7323E;
}

#no {
    background-color: #8EC6C1;
}

.backgroundButton {
    width: 16vw;
    height: 4.5vw;
    background-color: black;
    clip-path: polygon(0% 0%, 92% 0%, 100% 10%, 100% 100%, 0% 100%, 10% 100%, 0% 87%, 0% 20%);
    margin: 10px 25px;
}

#popUpBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #808080b2;
    z-index: 1;
    /* Ensure it's below other pop-up elements */

}