/*Static content */

@font-face {
    font-family: Urbanista;
    src: url("../fonts/Shadows_Into_Light/fonts/Urbanist/static/Urbanist-Regular.ttf");
}

body {
    margin: 3%;
    font-family: Urbanista;
}

header {
    flex-basis: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.574);
}

header>p {
    margin-top: 20px;
}

input {
    height: 30px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 320px;
    padding-left: 10px;
    font-style: italic;
}


main {
    display: flex;
}

#main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

nav {
    width: 70px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 1px solid black;
    justify-content: center;
    position: absolute;
    position: sticky;
    top: 75px;
    margin-left: 10px;
}


footer {
    display: flex;
    justify-content: space-around;
    height: 60px;
    background-color: gray;
    align-items: center;
    margin-top: 40px;
}

/* Top of profile */

#topProfile{
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

/*   Profile Info */

#userContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#profile {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid rgb(88, 88, 88);
    background-size: contain;
    background-repeat: no-repeat;
}

#userContainerTop{
    display: flex;
  justify-content: space-between;
}

#profileHeader{
    width: 50%;
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

#profileHeaderContent{
   display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 3%;
}

#username{
    font-size: 25px;
}


#profileIcon {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid black;
    /* background-size: contain;
    background-repeat: no-repeat; */
}

#profileIcon>img {
    height: 100%;
    width: 100%;
    border-radius: 50px;
}

#description {
    margin-top: 3%;
    margin-left: 27%;
    margin-right: 20%;
    width: 60%;
    text-align: left; 
}


#insta {
    align-self: start;
    margin-left: 14%;
    margin-top: 4%;
}

/* Right side top*/

#topRightProfile{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 2%;
    gap: 6%;
}

button {
    font-family: Urbanista;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}



/* Notifications */

#notifications {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6%;
}

.notification {
    text-align: center;

}

.notiStroke {
    width: 80%;
    border: 0.5px solid black;
    align-self: center;
}

.stroke {
    height: 40px;
    width: 1px;
    background-color: black;
}

#middleProfile{
    display: flex;
    flex-direction: column;
    margin: 2px;
    margin-left: 9%;
}

/* menu, bottom */

.options {
    font-size: 18px;
    margin-bottom: 1%;
    margin-top: 1%;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 2%;
    color: gray;
    transition: font-size 0.5s ease-in;

}
.selected{
    font-size: 20px;
    color: black;
    transition: font-size 0.5s ease-in;

    
}

@keyframes Fade {
    0% {font-size: 15px;}
    50% { font-size: 18px; }
}

#BigStroke {
    border: 0.5px solid black;
    width: 90%;
}

/* #cards {
    grid-column: 2/4;
    grid-row: 2;
    margin-top: 80px;
    padding-left: 40px;
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    gap: 10px;
    overflow: scroll;
    grid-template-rows: 1fr;
}

.card {
    display: flex;
    width: 243px;
    padding: 11px 0px;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--responsive-spacing-xs, 6px) 92px;
    flex-wrap: wrap;
} */
#cards {
    grid-column: 2/4;
    grid-row: 2;
    margin-top: 80px;
    padding-left: 40px;
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    gap: 10px;
    overflow: scroll;
    grid-template-rows: 1fr;
}

#cardBox {
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardBox>h2 {
    margin-bottom: 0px;
    position: relative;
    right: 100px;
}

#cardBox #img {
    height: 90%;
    width: 90%;
    background-image: url("/images/unnamed.png");
    background-size: contain;
}

#cardBox #userImg {
    height: 25px;
    width: 20px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    right: 125px;
    top: 20px;
}

.imgDiv {
    height: 80%;
    background-size: contain;
    width: 90%;
}

#cardBox #userName {
    position: relative;
    right: 85px;
    /* bottom: 8px; */
}

#likesBox {
    position: relative;
    left: 100px;
}

#likeImg {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 20px;
}

#likeImg>div {
    position: relative;
    left: 30px;
}

.selected {
    font-weight: bold;
}

.artistBox {
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    border-radius: 10px;
    border: 1px solid black;
}

#artistIcon {
    height: 150px;
    width: 150px;
    grid-column: 1/3;
    border-radius: 80px;
    border: 1px solid black;
    align-self: center;
    margin-left: 50px;
    margin-top: 10px;
}

.artistBox>h3 {
    grid-column: 1/3;
    text-align: center;
}

#folowerBox {
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    margin-top: 10px;
}

#uploadedComicsBox {
    grid-row: 4;
    text-align: center;
    margin: 10px;
}

.number {
    font-weight: bold;
    padding: 5px;
}

/* #popUp {
    height: 100vh;
    width: 100vw;
} */


#popUp {
    position: absolute;
    height: 600px;
    width: 900px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: blue;
    bottom: 80px;
}

/* 
.notSelected {
    display: none;
}

/* .Selected {
    opacity: 1;
} */
/*
#popUpBox {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    height: 100%;
    width: 100%;
}

#popUpBox>#followers>#artist {
    grid-row: 3;
    display: flex;
    grid-column: 1/6;
    width: 100px;
    height: 200px;
} */



/* #popUp {
    position: absolute;
    height: 100vh;
    width: 100vw;

    /* display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; 

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#popUpBackground {
    position: absolute;
    background-color: white;

    opacity: 50%;
    height: 100%;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#popUpWindow {
    position: absolute;
    background-color: blue;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px #41000d47;

    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
} */



/* PopUp */

.hidden {
    display: none;
}

#popUpBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 40px 40px 40px 1fr 40px;
    width: 100%;
    height: 100%;
    gap: 10px;
    justify-items: center;
    overflow: scroll;
}

#close {
    height: 100%;
    grid-column: 3;
    justify-self: end;
    padding-right: 10px;
}

#popUpBox>h2 {
    grid-column: 2;
    grid-row: 2;
    width: 120px;
}

#searchFollower {
    grid-column: 2;
    grid-row: 3;
    height: 30px;
    width: 400px;
    border-radius: 20px;
    border: 1px solid black;
    margin-right: 0px;
    /* padding-left: 0px; */
    font-style: italic;
}

#popUpBox>button {
    grid-column: 2;
    grid-row: 5;
    align-self: center;
    justify-self: center;
    margin-bottom: 30px;
}

#popUpBox>#followers {
    grid-column: 1/4;
    grid-row: 4;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    width: 95%;
    gap: 10px;
}

#popUpBox>#followers>.artistBox {
    height: 220px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid black;
}

#popUpBox>#followers>.artistBox>#artistIcon {
    height: 100px;
    width: 100px;
    grid-column: 1/3;
    border-radius: 80px;
    border: 1px solid black;
    align-self: center;
    margin-top: 10px;
    margin-left: 0px;
}


#popUpBox>#followers>.artistBox>button {

    position: relative;
    bottom: 10px;
    left: 10px;
}



.description {
    /* height: 50%; */
    width: 100%;
    background-color: #6e6e797d;
    position: relative;
    bottom: 200px;
    justify-content: center;
    display: flex;
    align-items: end;
    display: flex;
    justify-content: space-around;

}

.readBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #808080b2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.comic {
    height: 80%;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;

}

.readBox>#close {
    position: absolute;
    top: 20px;
    right: 30px;

}

#left {
    display: flex;
    justify-content: end;
    /* align-items: end; */
    flex-direction: column;
}

#left>div {
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    background-color: gray;
    border-radius: 10px;
    width: 100px;
}