@font-face {
    font-family: Urbanista;
    src: url("../fonts/Shadows_Into_Light/fonts/Urbanist/static/Urbanist-Medium.ttf");
}

body {
    font-family: Urbanista;
    margin: 0px;
    background-image: url("../images/bkg/login.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 100vh;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin-right: 10vw;
}

h1 {
    margin-left: 20%;
    font-size: 390px;
    -webkit-text-stroke-width: 0.1px;
   /* -webkit-text-stroke-color: black; */
    color: #F7C488;
    text-shadow: 10px 10px 0px black;
}

#reg,
#login,
#confirm,
#email {
    padding: 30px 0px 30px 0px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

/*input:focus +label{
    transform: translateY(-24px);
    transition-duration: 1s;
    transform-style: smooth;
} */



/* label{
    transform: translateY(24px);

} */

input {
    width: 400px;
    background-color: transparent;
    border: none;
    height: 30px;
    font-family: Urbanista;
}

input:focus {
    font-size: 18px;
    outline: none;
}

#confirm>input,
#email>input {
    height: 30px;
    padding: 0px;
}

.underline {
    background-color: black;
    /* transition: color 0.3s, background 0.3s, border 0.3s, text-shadow 0.3s; */
    z-index: 0;
    height: 1px;
    width: 100%;
}

p {
    justify-content: end;
    display: flex;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    font-size: 20px;
    align-self: center;
    font-family: Urbanista;
    background-color: #8EC6C1;
    box-shadow: 5px 5px 0px black;
    border: 1px solid black;
    width: 30vw;
    height: 40px;
}

button:focus {
    outline: none;
}

button:active {
    box-shadow: 2px 2px 0px black;
}

#message>p>span {
    align-items: center;
}