@font-face {
    font-family: Urbanista;
    src: url("../fonts/Shadows_Into_Light/fonts/Urbanist/static/Urbanist-Regular.ttf");
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Urbanista;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    width: 94%;
     position: sticky;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 3%; 
    padding-right: 3%;
    align-items: center;
    top:0;
    position: sticky;
}

header > * {
    cursor: pointer;
}

header > #home > h1{
    font-size: 40px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    color: #F7C488;
    text-shadow: 3px 2px 0px black;
}

#leftSideHeader{
    width: 22%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    align-items: center;
    margin-top: 40px;
}

footer > *{
    cursor: pointer;
}

.hidden{
    opacity: 0px;
}

.notificationContainer{
    position: absolute;
    top: 90px;
    right: 10px;
    background-color: #f7c488;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}


.topNotification {
    display: flex;
    justify-content: flex-end;
}

.topNotification > img{
    height: 40px;
    width: 40px;
}

.notification{
    display: flex;
    justify-content: space-between;
    padding: 5%;

}

button{
    background-color: #8EC6C1;
    border: 1px solid black;
    box-shadow: 2px 2px 0px black;
}

button:focus{
    outline: none;
}

button:active{
    box-shadow: 2px 2px 0px black;
}