body {
    margin: 20px;
}

header {
    flex-basis: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.574);
}

header>p {
    margin-top: 20px;
}

nav {
    width: 70px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 1px solid black;
    justify-content: center;
    position: absolute;
    position: sticky;
    top: 75px;
    margin-left: 10px;
}


footer {
    display: flex;
    justify-content: space-around;
    height: 60px;
    background-color: gray;
    align-items: center;
    margin-top: 40px;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    align-self: flex-end
}

#wrapper {

    width: 80%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#filters {
    display: flex;
    flex-direction: row;
    width: 30%;
    gap: 5px;
}

.dropDown {
    padding: 30px;
}


#frontPage {
    height: 20vh;
    border: 1px solid black;
    width: 20vw;

}

#frontPage img {
    height: 100%;
    width: 100%;
}