/* static content */

@font-face {
    font-family: Urbanista;
    src: url("../fonts/Shadows_Into_Light/fonts/Urbanist/static/Urbanist-Regular.ttf");
}

@font-face {
    font-family: UrbanistaBold;
    src: url("../fonts/Shadows_Into_Light/fonts/Urbanist/static/Urbanist-Bold.ttf");
}

body {
    margin: 0px;
    font-family: Urbanista;
}

header{
    background: linear-gradient(to bottom, #f7c488, rgba(247, 196, 136, 0));
    z-index: 1;
}

/* content */

#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    width: 90%;
    margin-bottom: 30px;
}

#topOfPage{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    align-self: flex-start;
    font-size: 60px;
    font-family: UrbanistaBold;
    margin-top: 0px;
}

#toggleButton{
    font-size: 18px;
    height: 35px;
}

#infoIcon{
    cursor: pointer;
}

#placeholderUpload{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#placeholderUpload > p {
    text-align: center;
}

#gridContainer {
  height: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 35px;
  margin: 1%;
  align-self: center;
  padding: 5%;
  grid-template-rows: repeat(2, 2fr);
}

.pageLayout.pageOne{
    margin-top: auto;
    height: 400px;
    grid-area :  1 / 1 / span 4 / span 2;
    transition: opacity 1s ;
  animation: Fade 2s ease-in;
}

.pageLayout.pageTwo{
    margin-top: auto;
    height: 400px;
    grid-area: 1 / 3 / span 4 / span 2;
     transition: opacity 2s;
    animation: Fade 2s ease-out;
}

.pageLayout {
    padding: 10px;
    background-color: white;
    box-shadow: 4px 4px 0px black;
    border: 1px solid black;
    align-self: center;
    height: 100%;
    transition: opacity 2s;
    animation: Fade 2s ease-out;

}

#hidden{
    display: none;
}

.pageLayout.hidden{
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-out;
  animation: Fade 2s ease;
}

 @keyframes Fade {
    0% { opacity: 0;}
    50% { opacity: 0.5 }
    100% { opacity: 1.0 }

} 

.pageLayout img{
    height: 100%;
    width: 100%;
}

#bottomOfPage{
    align-self: center;
    display: flex;
    justify-content: center;
    gap: 15px;
}


#bottomOfPage > button{
    padding: 4px;
    font-size: 18px;
    width: 176px;
    border: solid 1px black;
}




/* popUp*/

dialog{
    width: 60vw;
    height: 60vh;
}

