/* static content */

@font-face {
    font-family: Urbanista;
    src: url("../fonts/Shadows_Into_Light/fonts/Urbanist/static/Urbanist-Regular.ttf");
}

body {
    margin: 3%;
    font-family: Urbanista;
}

header {
    flex-basis: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.574);
}

header>p {
    margin-top: 20px;
}

nav {
    width: 10%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 1px solid black;
    justify-content: center;
    position: absolute;
    position: sticky;
    top: 75px;
    margin-left: 10px;
}


footer {
    display: flex;
    justify-content: space-around;
    height: 60px;
    background-color: gray;
    align-items: center;
    margin-top: 40px;
}

main {
    display: flex;
    width: 100%;
}

#wrapper {
    margin: 0px;
    height: 100vh;
    margin: 0px;
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#container{
    display: flex;
    height: 85%;
    align-items: center;   
    gap: 5%;
}

h1{
    font-size: 25pz;
}

#bigStroke{
     border: 0.5px solid black;
    width: 80%;
    margin-bottom: 5%;
}

#leftSide{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#rightSide{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

#filters {
    display: flex;
    flex-direction: row;
    width: 30%;
    gap: 5px;
}

#rightSide > input[name="title"]:focus, #rightSide > input[name="title"]:required {
    outline: none;
    font-family: Urbanista;
    transform: translateY(-24px);
    transition-duration: 1s;
    font-size: 17px;
    transform-style: smooth;
    /*padding: 0 10px; */
}

#rightSide >  input[name="title"]{
    transition-duration: 1s;
    transform-style: smooth;
    border-style: none;
    font-size: 20px;
    font-family: Urbanista;
    border-bottom: 1px solid black;
}

#rightSide > textarea{
    outline: none;
    font-family: Urbanista;
    height: 30vh;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2%;
    resize: none;
}

#wordCounter {
    text-align: right;
    margin-top: 0px;
    color: gray;
    font-size: 12px;
}


.dropDown {
    padding: 30px;
}


#frontPage {
    width: 310px;
    height: 463px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
  justify-content: center;
}

#frontPage img {
    height: 100%;
    width: 100%;
    size: contain;
}

#hidden{
    display: none;
}

#buttons{
   width: 90%;
    gap: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}

/* Dropdown menu */ 

.dropDown {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    left: 90px;
    background-color: white;
    width: 400px;
    z-index: 1;
}

.Themes,
.Styles,
.Materials {
    position: relative;
}

.Themes .dropDown>div {
    /* height: 20px; */
    padding: 10px;
}

.Themes .dropDown {
    position: absolute;
    left: -150px;
}

.Styles .dropDown>div {
    /* height: 20px; */
    padding: 10px;
}

.Styles .dropDown {
    position: absolute;
    left: -170px;
}

.Materials .dropDown>div {
    /* height: 20px; */
    padding: 10px;
}

.Materials .dropDown {
    position: absolute;
    left: -170px;
}

.options {
    padding: 5px;
}

.Materials .dropDown>div:hover,
.Themes .dropDown>div:hover,
.Styles .dropDown>div:hover,
.Styles .dropDown>div>div:hover {
    /* height: 20px; */
    background-color: rgb(236, 104, 80);
    color: white;
}

.hidden {
    display: none;
}

