/* static content */

@font-face {
    font-family: Urbanista;
    src: url("../fonts/Shadows_Into_Light/fonts/Urbanist/static/Urbanist-Regular.ttf");
}

@font-face {
    font-family: UrbanistaBold;
    src: url("../fonts/Shadows_Into_Light/fonts/Urbanist/static/Urbanist-Bold.ttf");
}

body {
    margin: 0%;
    font-family: Urbanista;
    background-image: url("../images/bkg/bkg/upload.svg");
}

main {
    display: flex;
    width: 100%;
}

#wrapper {
    margin: 0px;
    margin: 0px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* HEADER */

#headerUpload{
    display: flex;
    width: 66%;
}

#headerUpload > h1{
    align-self: flex-start;
    font-size: 60px;
    font-family: UrbanistaBold;
    margin-top: 0px;
}

/* CONTENT */

#container{
    display: flex;
    height: 75%;
    align-items: center;   
    gap: 5%;
}

/* Left side */ 

#bigStroke{
     border: 0.5px solid black;
    width: 80%;
    margin-bottom: 5%;
}

#leftSide{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#leftSide > img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

#frontPage {
    width: 383px;
    height: 561px;
    background-color: white;
    box-shadow: 12px 12px 0px black;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#frontPage > *{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#placeholderUpload{
    width: 124.67px;
    height: 133.38px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#frontPage > #placeholderUpload > img {
    width: 124.67px;
    height: 133.38px;
}

#placeholderUpload > p {
    width: 179.34px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Right side*/


#rightSide{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 23%;
    width: 35%;
    margin-left: 100px;
}

#filters {
    margin-top: 15%;
    margin-bottom: 15%;
    width: 100%;
    padding: 2%;
    background-color: black;
    color: white;
    font-family: Urbanista;
}

label{
    font-size: 30px;
    font-weight: bold;
}

label[for="description"]{
    margin-top: 50px;
    width: 50px;
}

 #rightSide > input[name="title"]:required {
    outline: none;
    font-family: Urbanista;
    transform: translateY(-24px);
    transition-duration: 1s;
    font-size: 17px;
    transform-style: smooth;
    /*padding: 0 10px; */
}

input[name="title"]{
    outline: none;
    background-color: transparent;
    transition-duration: 1s;
    transform-style: smooth;
    border-style: none;
    font-size: 30px;
    font-family: Urbanista;
    border-bottom: 1px solid black;
}

#rightSide > textarea{
    background-color: #f7c488;
    outline: none;
    font-family: Urbanista;
    height: 23vh;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2%;
    resize: none;
}

#wordCounter {
    text-align: right;
    margin-top: 0px;
    color: black;
    font-size: 12px;
}


.dropDown {
    padding: 30px;
}



#hidden{
    display: none;
}

#buttons{
   width: 90%;
    gap: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}

#buttons > button {
    font-family: Urbanista;
    font-size: 16px;
    background-color: #8EC6C1;
    border: 1px solid black;
    box-shadow: 5px 5px 0px black;
    padding: 8px;
    cursor: pointer;
}

#buttons > button:focus {
    outline: none;
}

#buttons > button:active {
    box-shadow: 2px 2px 0px black;
}

/* CHOSEN FILTERS */

#filterContainerDOM{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4%;
    height: auto;
    margin-bottom: 10%;
}

.selectedDOM > img {
    height: 9px;
    padding-top: 2px;
    padding-right: 4px;
    margin-left: 6px;
}
.selectedDOM > p {
    margin: 0px;
    margin-top: 3px;
}

.selectedDOM {
    width: auto;
    padding: 3px;
    background-color: #F6B8D3;
    border: 2px solid black;
    box-shadow: 3px 3px 0px black;
    margin: 2px;
    display: flex;
    justify-content: center;
    font-size: 12px;

}

/* Dropdown menu */ 

.dropDown {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    left: 90px;
    background-color: white;
    width: 400px;
    z-index: 1;
}

.Themes,
.Styles,
.Materials {
    position: relative;
}

.filterContainer > div:hover, .filterContainerComics > div:hover{
    color: white;
}

#materialContainer > * {
  cursor: pointer;
}

.Themes .dropDown>div {
    /* height: 20px; */
    padding: 10px;
}

.Themes .dropDown {
    position: absolute;
    left: -150px;
}

.Styles .dropDown>div {
    /* height: 20px; */
    padding: 10px;
}

.Styles .dropDown {
    position: absolute;
    left: -170px;
}

.Materials .dropDown>div {
    /* height: 20px; */
    padding: 10px;
}

.Materials .dropDown {
    position: absolute;
    left: -170px;
}

.options {
    padding: 5px;
}

.Materials .dropDown>div:hover,
.Themes .dropDown>div:hover,
.Styles .dropDown>div:hover,
.Styles .dropDown>div>div:hover {
    /* height: 20px; */
    background-color: rgb(236, 104, 80);
    color: white;
}

.hidden {
    display: none;
}

.hiddenFilters {
    display: none;
}

.containerFilterBig {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    transition: transform 0.7s ease-in-out;
    /* transform: scaleX(0); */
    transform-origin: top right;
    height: 100vh;
    width: 40vw;
    background-color: #72A080;
    border: 2px solid black;
    overflow: hidden;

}

#containerFilterBigTop {
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#containerFilterBigTop>p {
    padding: 0px;
}

#containerFilterBigTop>img {
    padding: 3%;
    height: 20px;
    width: 20px;
}

.containerFilter.open {
    transform: scaleX(1);
}

#allFilters {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.material {
    width: 180px;
}

#materialContainer {
    width: 70%;
    margin-left: 2%;
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5%; */
}

.headerMaterial{
    display: flex;
    align-items: center;
    gap: 4%;
}

.headerMaterial > img {
    height: 11px;
}

.rotate-icon {
  transition: transform 0.6s ease; /* Add a transition for smoother rotation */
}

.rotate-icon.rotate {
  transform: rotate(90deg); /* Specify the rotation angle as needed */
}

#formatContainer,
#styleContainer {
    width: 70%;
    margin-left: 4%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5%;
}

#formatContainer,
#styleContainer,
#materialContainer>* {
    cursor: pointer;
}

#formatContainer>*:hover,
#styleContainer>*:hover {
    color: white;
}

.removeFilter {
    opacity: 0;
}

.selected {
    color: white;
    border-image-source: linear-gradient(90deg,white, transparent);
    border-image-slice: 1;
    border-image-width: 0 0 1px 0px; /* Adjust the thickness as needed */
    transition: border-image-width 0.3s ease;
}
